<html ng-app="myModule">
<head>
    <title>Angular JS</title>
    <script src="script/angular.min.js"></script>
    <script src="script/script.js"></script>
</head>
<body ng-controller="myController">
    <h1>
        Angular JS
    </h1>
    <div>
        {{ message }}
    </div>
    <br />
    <h1> Two way Data Binding</h1>
    <table>
        <tr>
            <td>
                Name:<input type="text", ng-model="employee.firstName" />
            </td>
        </tr>
        <tr>
            <td>
                Last Name:<input type="text", ng-model="employee.lastName" />
            </td>
        </tr>
        <tr>
            <td>
                Gender:<input type="text", ng-model="employee.gender" />
            </td>
        </tr>
    </table>
    <br />
    <div>
        First Name : {{ employee.firstName }}
    </div>
    <div>
        Last Name : {{ employee.lastName }}
    </div>
    <div>
        Gender : {{ employee.gender }}
    </div>
    <br />
    <br />


    <h1> ng-repeat </h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "eamani in eamanies">
            <td>{{eamani.firstName}}</td>
            <td>{{eamani.lastName}}</td>
            <td>{{eamani.salary}}</td>
        </tr>
        </tbody>
    </table>
    <br />
    <h1>  Nested ng-repeat </h1>
    <ul>
        <li ng-repeat="country in countries">
            {{ country.name }}
            <ul>
                <li ng-repeat="city in country.cities">
                    {{ city.name }}
                </li>
            </ul>
        </li>
    </ul>
    <br />
    <br />


    <h1> ng-click Event </h1>
    <table style="border-collapse: collapse; border: 1px solid black">
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 10px; text-align: left">Language Name</th>
                <th style="border: 1px solid black; padding: 10px; text-align: left">Likes</th>
                <th style="border: 1px solid black; padding: 10px; text-align: left">Dislikes</th>
                <th style="border: 1px solid black; padding: 10px; text-align: left">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" technology in technologies ">
                <td style="border: 1px solid black; padding: 5px; text-align: left">{{ technology.name}}</td>
                <td style="border: 1px solid black; padding: 5px; text-align: left">{{ technology.likes}}</td>
                <td style="border: 1px solid black; padding: 5px; text-align: left">{{ technology.dislikes}}</td>
                <td style="border: 1px solid black; padding: 5px; text-align: left">
                    <input type="button" value="Like" ng-click="incrementLikes(technology)" />/
                    <input type="button" value="Dislike" ng-click="incrementDislikes(technology)" />
                </td>
            </tr>
        </tbody>
    </table>

    <h1> Angular JS Filters && Sorting Data && searching function</h1>
    Rows To Display: <input type="number" step="1" min="0" max="5" ng-model="rowsLimit" />
    Order BY: <select ng-model="sortColumn">
                <option value="name">Name ASE</option>
                <option value="dateOfBirth">date of Birth ASE</option>
                <option value="gender">Gender ASE</option>
                <option value="-salary">salary DCSE</option>
              </select>
    search: <input type ="text" placeholder="Search column" ng-model="searchText" />
    <br />
    <br />
    <table style="border-collapse: collapse; border: 1px solid black">
        <thead>
        <tr>
            <th style="border: 1px solid black; padding: 10px; text-align: left">Name</th>
            <th style="border: 1px solid black; padding: 10px; text-align: left">Date Of Birth</th>
            <th style="border: 1px solid black; padding: 10px; text-align: left">Gender</th>
            <th style="border: 1px solid black; padding: 10px; text-align: left">Salary(number)</th>
            <th style="border: 1px solid black; padding: 10px; text-align: left">Salary(currency)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat=" emp in employeeDetails | limitTo:rowsLimit | orderBy: sortColumn |filter:searchText">
            <td style="border: 1px solid black; padding: 5px; text-align: left">{{ emp.name | uppercase}}</td>
            <td style="border: 1px solid black; padding: 5px; text-align: left">{{ emp.dateOfBirth | date:"dd/MM/yyyy"}}</td>
            <td style="border: 1px solid black; padding: 5px; text-align: left">{{ emp.gender | lowercase}}</td>
            <td style="border: 1px solid black; padding: 5px; text-align: left">{{ emp.salary | number:2}}</td>
            <td style="border: 1px solid black; padding: 5px; text-align: left">{{ emp.salary | currency:"£"}}</td>
        </tr>
        </tbody>
    </table>


</body>
</html>